header {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 20px auto;
  text-transform: uppercase;
}

header h2 {
  margin: 10px 0;
}

header h2:hover {
  cursor: pointer;
}

.headerTab {
  width: 33%;
}

.mozillaErrorMessage {
  font-size: 0.8rem;
  margin: 0;
  padding: 0;
}

.active {
  border-bottom: 2px solid #424242;
  color: #424242;
}

.unactive {
  color: #828282;
  border-bottom: none;
}

.documentList {
  display: flex;
  flex-direction: column;
  padding: 0;
  font-size: 0.5rem;
  color: #424242;
}

.documentItem {
  border-bottom: 1px solid #828282;
  display: flex;
}

.documentItem input {
  width: 100%;
  border: none;
  margin: 14px 0;
}

.iconTrash {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  border: 1px solid transparent;
  margin-left: auto;
}

.iconTrash:hover {
  cursor: pointer;
}

.iconTrash .trashLid {
  width: 62%;
  height: 10%;
  position: absolute;
  left: 50%;
  margin-left: -31%;
  background-color: #000;
  border-top-left-radius: 80%;
  border-top-right-radius: 80%;
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  transform: rotate(-5deg);
}

.iconTrash .trashLid:after {
  content: '';
  width: 26%;
  height: 100%;
  position: absolute;
  left: 50%;
  margin-left: -13%;
  margin-top: -10%;
  background-color: inherit;
  border-top-left-radius: 30%;
  border-top-right-radius: 30%;
  -webkit-transform: rotate(-1deg);
  -moz-transform: rotate(-1deg);
  -ms-transform: rotate(-1deg);
  transform: rotate(-1deg);
}

.iconTrash .trashContainer {
  width: 56%;
  height: 65%;
  position: absolute;
  left: 50%;
  margin-left: -28%;
  bottom: 10%;
  background-color: #000;
  border-bottom-left-radius: 15%;
  border-bottom-right-radius: 15%;
}

.iconTrash .trashContainer:after {
  content: '';
  width: 110%;
  height: 12%;
  position: absolute;
  left: 50%;
  margin-left: -55%;
  top: 0;
  background-color: inherit;
  border-bottom-left-radius: 45%;
  border-bottom-right-radius: 45%;
}

.iconTrash .trashLine1 {
  width: 4%;
  height: 50%;
  position: absolute;
  left: 38%;
  margin-left: -2%;
  bottom: 17%;
  background-color: #252527;
}

.iconTrash .trashLine3 {
  width: 4%;
  height: 50%;
  position: absolute;
  left: 62%;
  margin-left: -2%;
  bottom: 17%;
  background-color: #252527;
}

.trashLid,
.trashContainer {
  background-color: #c5bfb6 !important;
}

.arrowDown {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #828282;
  transform: rotate(180deg);
  margin: auto 10px;
}

.arrowRight {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #ffffff;
  transform: rotate(90deg);
  margin: auto 10px;
  position: absolute;
  left: 93%;
  top: 30%;
}

.arrowRight:hover {
  cursor: pointer;
}

.dropdownContainer {
  display: flex;
}

.dropdown {
  display: flex;
  margin-left: auto;
  justify-content: space-evenly;
  border: 1px solid transparent;
  margin-bottom: 10px;
}

.checkbox {
  width: 20px;
  height: 20px;
  border: 2px solid #828282;
}

.checkbox:hover {
  cursor: pointer;
}

.checkboxFill {
  background-color: #828282;
}

.centerCheckbox {
  margin: auto 0;
}

.topErrorMessage {
  color: red;
  margin: 0; /** Pushes everythign else down without this*/
  text-align: center;
}

.downloadButton {
  margin: 11px auto;
  color: #828282;
}

.downloadButton:hover {
  cursor: pointer;
  color: #424242;
}

.progress {
  margin: 20px auto;
  padding: 0;
  width: 90%;
  height: 30px;
  overflow: hidden;
  background: #e5e5e5;
  border-radius: 6px;
}

.bar {
  position: relative;
  float: left;
  min-width: 1%;
  height: 100%;
}

.white {
  background: #e5e5e5;
  color: #424242;
}

.white p {
  color: #424242;
}

.success {
  background: cornflowerblue;
  color: #ffffff;
}

.fail {
  background: mediumvioletred;
  color: #ffffff;
}

.percent {
  position: absolute;
  width: 100%;
  top: 25%;
  left: 5%;
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  margin: 0;
  font-family: tahoma, arial, helvetica;
  font-size: 12px;
  color: white;
}

.tabButtons {
  width: 90%;
  margin: 0 auto;
  margin-bottom: -20px;
  text-align: center;
}

.tabButton {
  margin: 0 10px;
  width: 25%;
  border: none;
  outline: none;
  padding: 5px 0;

  opacity: 0.5;
}

.retry {
  background: cornflowerblue;
  color: #ffffff;
}

.remove {
  background: mediumvioletred;
  color: #ffffff;
}

.retry:hover,
.remove:hover {
  opacity: 1;
}

.tabButton:hover {
  cursor: pointer;
}

.pop {
  animation: pop 0.3s linear 1;
}

@keyframes pop {
  50% {
    transform: scale(1.2);
  }
}
